<link href="views/templates/templates.css" rel="stylesheet" />
<div class="list templates-list">
    <div class="card templates-card">
        <ion-scroll direction="y" class="templates-scroll">
            <span class="templates-sub-title">Зээлийн нөхцөл</span>
            <div class="templates-content">
                <div class="templates-content-ul">
                    <img class="template-img" style="width: 70px" src="img/month.png">
                    <h3>1 - 180сар</h3>
                    <p>Зээлийн хугацаа</p>
                </div>
                <div class="templates-content-ul">
                    <img class="template-img" style="width: 70px" src="img/fee.png">
                    <h3>1.4 - 3%</h3>
                    <p>Зээлийн хүү</p>
                </div>
            </div>
            <button class="button btn single-button auto-template-btn" id="Next" ng-click="autoModal.hide()">Үргэлжлүүлэх</button>
        </ion-scroll>
    </div>
</div>